@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* stylelint-disable-next-line at-rule-no-unknown */
@tailwind base;
/* stylelint-disable-next-line at-rule-no-unknown */
@tailwind components;
/* stylelint-disable-next-line at-rule-no-unknown */
@tailwind utilities;

@layer base {
  html {
    font-family: "Poppins", sans-serif;
  }

  body {
    background-color: #fdfeff;
    overflow-x: hidden;
  }
}

@layer components {
  .modal-box {
    /* Changed overflow-y-scroll to overflow-y-auto, removed the plugin classes, and added no-scrollbar */
    @apply w-[80vw] md:w-[40%] h-[80vh] bg-white rounded-lg mx-auto mt-14 p-5 overflow-y-auto no-scrollbar z-50;
  }

  .btn-small {
    @apply flex items-center gap-1 text-xs font-medium bg-cyan-50 text-blue-500 shadow-cyan-100/0 border border-cyan-100 rounded-md px-2 py-1 hover:bg-cyan-100 transition-colors;
  }

  .btn-delete {
    @apply bg-rose-50 text-rose-500 shadow-rose-100/0 border border-rose-100 hover:bg-rose-500 hover:text-white;
  }
  .input-label {
    @apply text-xs text-slate-400;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
